<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="haowei.springframework.springframework5haoweilaundry.model.Owner"*/-->

    <h2 th:text="#{OwnerInformation}">Owner Information</h2>

    <table class="table table-striped" th:object="${owner}">
        <tr>
            <th th:text="#{Name}">Name</th>
            <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
        </tr>
        <tr>
            <th th:text="#{Address}">Address</th>
            <td th:text="*{address}"></td>
        </tr>
        <tr>
            <th th:text="#{City}">City</th>
            <td th:text="*{city}"></td>
        </tr>
        <tr>
            <th th:text="#{PostalCode}">Postal Code</th>
            <td th:text="*{postal_code}"></td>
        </tr>
        <tr>
            <th th:text="#{Telephone}">Telephone</th>
            <td th:text="*{telephone}"></td>
        </tr>
    </table>

    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default" th:text="#{EditOwner}">Edit Owner</a>

    <a th:href="@{{id}/clothes/new(id=${owner.id})}" class="btn btn-default" th:text="#{AddNewCloth}">Add New Cloth</a>

    <br />
    <br />
    <br />
    <h2 th:text="#{ClothesAndVisits}">Clothes and Visits</h2>

    <table class="table table-striped">
        <tr th:each="cloth : ${owner.clothes}">
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt th:text="#{Color}">Color</dt>
                    <dd th:text="${cloth.color}"></dd>
                    <dt th:text="#{Type}">Type</dt>
                    <dd th:text="${cloth.clothType}"></dd>
                    <dt th:text="#{MadeIn}">Made In</dt>
                    <dd th:text="${cloth.made_in}"></dd>
                </dl>
            </td>
            <td valign="top">
                <table class="table-condensed">
                    <thread>
                        <tr>
                            <th th:text="#{VisitDate}">Visit Date</th>
                            <th th:text="#{Description}">Description</th>
                        </tr>
                    </thread>
                    <tr th:each="visit : ${cloth.visits}">
                        <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
                        <td th:text="${visit.description}"></td>
                        <td><a th:href="@{{ownerId}/clothes/{clothId}/visits/{visitId}/edit(ownerId=${owner.id},clothId=${cloth.id},visitId=${visit.id})}" th:text="#{EditVisit}">Edit Visit</a></td>
                    </tr>
                    <tr>
                        <td><a th:href="@{{ownerId}/clothes/{clothId}/edit(ownerId=${owner.id},clothId=${cloth.id})}" th:text="#{EditCloth}">Edit Cloth</a></td>
                        <td><a th:href="@{{ownerId}/clothes/{clothId}/visits/new(ownerId=${owner.id},clothId=${cloth.id})}" th:text="#{AddVisit}">Add Visit</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>