<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
    <h2 th:text="#{Owners}">Owners</h2>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;" th:text="#{Name}">Name</th>
            <th style="width: 200px;" th:text="#{Address}">Address</th>
            <th style="width: 150px;" th:text="#{City}">City</th>
            <th style="width: 120px;" th:text="#{PostalCode}">Postal Code</th>
            <th style="width: 120px" th:text="#{Telephone}">Telephone</th>
            <th th:text="#{Clothes}">Clothes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${selections}">
            <td>
                <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/>
            </td>
            <td th:text="${owner.address}"></td>
            <td th:text="${owner.city}"></td>
            <td th:text="${owner.postal_code}"></td>
            <td th:text="${owner.telephone}"></td>
            <td><span th:each="cloth : ${owner.clothes}" th:text="${cloth.color + ' ' + cloth.clothType + ','} "></span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>