<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Add or Update Visit</title>
</head>
<body>
    <h2 th:with="text=${visit['new']} ? #{NewVisit} : #{Visit}">New Visit</h2>

    <b th:text="#{Cloth}">Cloth</b>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{Color}">Color</th>
            <th th:text="#{MadeIn}">Made In</th>
            <th th:text="#{Type}">Type</th>
            <th th:text="#{Owner}">Owner</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${cloth.color}" ></td>
            <td th:text="${cloth.made_in}" ></td>
            <td th:text="${cloth.clothType}" ></td>
            <td th:text="${cloth.owner?.firstName + ' ' + cloth.owner?.lastName}" ></td>
        </tr>
    </table>

    <form th:object="${visit}" class="form-horizontal" method="post">
        <div class="form-group has-feedback">
            <input th:replace="~{fragments/inputField :: input (#{Date}, 'date', 'date')}"  />
            <input th:replace="~{fragments/inputField :: input (#{Description}, 'description', 'text')}" />
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="clothId" th:value="${cloth.id}" />
                <button th:with="text=${visit['new']} ? #{AddVisit} : #{UpdateVisit}"
                        class="btn btn-default" type="submit" th:text="${text}">Add Visit</button>
            </div>
        </div>
    </form>

    <br />
    <b th:text="#{PreviousVisits}">Previous Visits</b>
    <table class="table table-striped">
        <tr>
            <th th:text="#{Date}">Date</th>
            <th th:text="#{Description}">Description</th>
        </tr>
        <tr th:if="${!visit['new']}" th:each="visit : ${cloth.visits}">
            <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}" /></td>
            <td th:text=" ${visit.description}" /></td>
        </tr>
    </table>
</body>
</html>