<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'registrars')}">
<head>
    <meta charset="UTF-8">
    <title>List of Registrars</title>
</head>
<body>
<!--/*@thymesVar id="registrar" type="haowei.springframework.springframework5haoweilaundry.model.Registrar"*/-->
    <h2 th:text="#{ListofRegistrars}">Registrars List</h2>

    <table id="registrars" class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{Name}">Name</th>
            <th th:text="#{EmployeeNumber}">Employee Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="registrar : ${registrars}">
            <td th:text="${registrar.firstName + ' ' + registrar.lastName}"></td>
            <td th:text="${registrar.employee_number}"></td>
            <td><a th:href="@{registrars/{registrarId}/edit(registrarId=${registrar.id})}" th:text="#{EditRegistrar}">Edit Registrar</a></td>
        </tr>
        </tbody>
    </table>

    <br/>
    <a class="btn btn-default" th:href="@{/registrars/new}" th:text="#{AddRegistrar}">Add Registrar</a>

</body>
</html>


