<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Laundry Index</title>
</head>
<body>
    <h2 th:text="#{welcome}">Welcome</h2>
    <span th:text="#{language}"></span>:
    <select id="locales" onchange="window.location.replace('?lang=' + this.value)">
        <option value=""></option>
        <option value="en" th:text="#{english}"></option>
        <option value="de" th:text="#{germany}"></option>
    </select>

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="../static/resources/images/laundry.png" th:src="@{/resources/images/laundry.png}"/>
        </div>
    </div>
</body>

</html>

